extends base.pug 

include ../mixins/link.pug

block content
    nav(class='border-b flex')
        +link('Home', { href: '/', link: { class: 'navbar-item' } })
        +link('Setting', { href: '/setting', link: { class: 'navbar-item' } })
        +link('Logout', { href: '/logout', link: { class: 'navbar-item' } })
    main(class='container mx-auto p-4')
        block app-content