extends layouts/app.pug

include mixins/title.pug
include mixins/link.pug

block app-content
    section(class='space-y-2') 
        div 
            +title('Collections', { size: 'lg' })
            +link('New Collection', { href: '/collections/new' })
        if !collections.length
            p Collections empty
        else
            ol(class='list-decimal pl-4') 
                each item in collections
                    li
                        div(class='flex gap-x-2')
                            p= item.name
                            +link('Edit', { href: `/collections/${item.id}/edit` })
                            +link('Delete', { href: `/collections/${item.id}/delete`, color: 'red' })
                        ol(class='pl-4 list-decimal') 
                            li Jaket tracker
                            li Koko batik
                            li Celana yang tidak isbal
