extends layouts/app.pug

include mixins/title.pug
include mixins/link.pug

block app-content
    section(class="space-y-2") 
        div 
            +title('Collections', { size: 'lg' })
            +link('New Collection', { href: '/collections/new' })
        if !collections.length
            p Collections empty
        else
            ul 
                each item in collections
                    li(class="flex gap-x-2")
                        p= item.name
                        +link('Edit', { href: `/collections/${item.id}/edit` })