extends layouts/app.pug

include mixins/title.pug
include mixins/link.pug

block app-content
    section(class='space-y-2') 
        div 
            +title('Collections', { size: 'lg' })
            +link('New Collection', { href: '/collections/new' })
        if !collections.length
            p Collections empty
        else
            ol(class='list-decimal pl-4') 
                each collection in collections
                    li
                        div(class='flex gap-x-2')
                            +link(collection.name, { href: `collections/${collection.id}`, color: 'black' })
                            +link('Edit', { href: `/collections/${collection.id}/edit` })
                            +link('Delete', { href: `/collections/${collection.id}/delete`, color: 'red' })
