extends layouts/auth.pug

include mixins/title.pug
include mixins/input.pug
include mixins/button.pug
include mixins/error-alert.pug
include mixins/link.pug

block app-content
    +error-alert
    form(action='/login', method='post' class='mb-2')
        +title('Login to your account', { size: 'lg' })(class='mb-2')
        +input('Email', { input: { name: 'email', type: 'email', required: true, autofocus: true } })
        +input('Password', { input: { name: 'password', type: 'password', required: true } })
        +button('Login')

    p Doesnt have account? 
        +link('Register Here', { color: 'sky', href: '/register' })