extends layouts/app.pug

block app-content
    each val in getFlashMessages('error')
        div(class="alert alert-red")= val
    form(action="/login", method="post")
        fieldset
            h1(class="title title-lg mb-2") Login to your account
            div(class="mb-2")
                label(class="label") Email
                input(type="email", name="email", placeholder="Email" class="input" required autofocus) 
            div(class="mb-2")
                label(class="label") Password
                input(type="password", name="password", placeholder="Password" class="input" required)
            button(type="submit" class="button button-primary") Login