extends ../layouts/app.pug

include ../mixins/error-alert.pug
include ../mixins/title.pug
include ../mixins/input.pug
include ../mixins/button.pug

block app-content
    +error-alert
    form(action=`/collection-items/${collectionItem.id}/edit` method='post') 
        +title('Edit Collection Item', { size: 'lg' })(class='mb-2')
        +input('Name', { input: { name: 'name', type: 'text', value: collectionItem.name, required: true, autofocus: true } })
        +input('Description', { type: 'textarea', input: { name: 'description', value: collectionItem.description, required: false } })
        div(class='flex gap-x-1')
            +button('Save')
            +button('Back', { color: 'gray', link: { href: `/collections/${collectionItem.collection_id}` } })