mixin button(label, options = {})
    - const colors = {sky: 'button-sky', gray: 'button-gray'}
    - const color = colors[options.color ?? 'sky']
    
    if options.link 
        a(href=options.link.href class=`button ${color}`)= label
    else
        button(type='submit' class=`button ${color}`)= label