mixin input(label, options)
    div(class='mb-2')
        label(class='label')= label
        if options.type === 'textarea'
            textarea(placeholder=label class='input')&attributes(options.input)= options.input.value
        else
            input(placeholder=label class='input')&attributes(options.input)